<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MongoDB Webapp</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div>
            <h1>Register</h1>
            <form action="/register" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br>
                <input type="submit" value="Register">
            </form>
            {% if success_message %}
                <p style="color:green;">{{ success_message }}</p>
            {% endif %}
            <p>Already have an account? <a href="/">Login here</a></p>
        </div>
    </body>
</html>
